#content {
	position: relative;
}
h3 {
	margin-top: 1em;
}
#perf {
	position: relative;
}
#perf p {
	margin-top: 0;
	margin-bottom: 0;
	clear: left;
}
#perf label {
	float: left;
	text-align: right;
	margin-right: 1em;
	width: 16em;
}
.symbol {
	color: navy;
}
.units {
	color: navy;
	font-size: smaller;
}
form sup, form sub {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
form sub { 
	top: 0.4em; 
}
#perf > h3,
#summary > h3 {
	margin-top: 0;
}
#summary {
	position: absolute;
	left: 30em;
	top: 0;
}
#summary th {
	padding-right: 1em;
	font-weight: normal;
}
table {
	text-align: right;
}

