h3 {
	margin-top: 1em;
}
#perf {
	position: relative;
}
form p {
	margin-top: 0;
	margin-bottom: 0;
}
label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 15em;
}
#summary {
	position: absolute;
	top: 0;
	left: 30em;
}
#summary th {
	padding-right: 1em;
	font-weight: normal;
}
table {
	text-align: right;
}
#results {
	margin-top: 2em;
	margin-left: 2em;
}
